<div class="accordion-item" data-accordion-item-id="{{ unique_id }}">
  <button class="accordion-header" type="button">
    <span>{{ block.settings.heading }}</span>
    <span class="accordion-icon"></span>
  </button>
  <div class="accordion-content">
    {{ block.settings.content }}
  </div>
</div>